html
    head
    body
        form(action="select-url", method="post")
        div.input
            span.label URL
            input(type="text", name="url")
        div.actions
            input(type="submit", value="submit") 
